In [20]:
import numpy as np
import matplotlib as plot
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [140]:
details_df  = pd.read_csv('app_data/details-1000.csv')
genre_df = pd.read_csv('app_data/genre_list-1000.csv')

details_df.replace(np.nan, '', regex=True, inplace=True)
display(details_df)
display(genre_df)

,id,title,overview,popularity,poster_path
0,3924,Blondie,Blondie and Dagwood are about to celebrate the...,3.059,/zBiHKhXklvTFwj4M1uEUcQGAVJ.jpg
1,6124,Peter Voss Thief of Millions,,0.600,/6xUbUCvndklbGVYiljHr34NTxSl.jpg
2,8773,Love at Twenty,Love at Twenty unites five directors from five...,4.658,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg
3,25449,New World Disorder 9: Never Enough,Gee Atherton ripping the Worlds course the day...,1.578,/okQY6jVmRU19CUbYPUZC77K3XBE.jpg
4,31975,Sesame Street: Elmo Loves You!,Elmo is making a very very super special surpr...,0.600,/qKWcCmvGr4g0dgXvhqAc4BAMCtk.jpg
...,...,...,...,...,...
995,1535,Spy Game,On the day of his retirement a veteran CIA age...,15.042,/6y8M1rxjKofQCRKKe6xeV91K2Fc.jpg
996,1537,Changing Lanes,A rush-hour fender-bender on New York City's c...,9.234,/8wh9WzTKo5pJw3EgHYWA60W7Kbl.jpg
997,1538,Collateral,Cab driver Max picks up a man who offers him $...,28.657,/iOpi3ut5DhQIbrVVjlnmfy2U7dI.jpg
998,1539,Keine Lieder über Liebe,As Tobias a young director supposes that his g...,2.004,/jq1Pbm0SevZBTwUaIIDC5b8CE1i.jpg
999,1540,Heading South,A story of three female tourists who visit Hai...,3.152,/46VpNNJNAubG1iB4CXtQYSaNMA0.jpg

,id,title,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,3924,Blondie,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6124,Peter Voss Thief of Millions,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8773,Love at Twenty,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,25449,New World Disorder 9: Never Enough,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,31975,Sesame Street: Elmo Loves You!,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1535,Spy Game,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
996,1537,Changing Lanes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
997,1538,Collateral,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
998,1539,Keine Lieder über Liebe,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
999,1540,Heading South,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [56]:
tfidf_vectorizer = TfidfVectorizer(analyzer='word', stop_words='english')

# get the column values to vectorize
titles = details_df['title'].tolist()
overviews = details_df['overview'].tolist()

# do the tfidf stuff
titles_matrix = tfidf_vectorizer.fit_transform(titles)
titles_tokens = tfidf_vectorizer.get_feature_names_out()

overviews_matrix = tfidf_vectorizer.fit_transform(overviews)
overviews_tokens = tfidf_vectorizer.get_feature_names_out()

# create dataframes
titles_df = pd.DataFrame(titles_matrix.toarray(), columns = titles_tokens)
overviews_df = pd.DataFrame(overviews_matrix.toarray(), columns = overviews_tokens)

tokens_df = pd.concat([titles_df, overviews_df], axis=1)

tokens_df

,04,1138,12,13,1492,17,20000,2001,2046,21,...,zissou,zoe,zombie,zombies,zone,zoo,zorin,zulema,émigré,łódź
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [138]:
from sklearn.metrics.pairwise import linear_kernel

# pair-wise similarity scores between movie tokens
token_sim = linear_kernel(tokens_df, tokens_df)

# same for genre similarity
genres_only = genre_df.iloc[:, 2:]
genre_sim = linear_kernel(genres_only, genres_only)

# how much genre similarity affects score
GENRE_SCALE = 0.25

def get_top_n(title, n):
    # find index of title
    row = details_df.loc[details_df['title'] == title]
    
    if row.empty:
        return []
    
    index = row.index.tolist()[0]

    # get sim scores for title
    token_scores = list(enumerate(token_sim[index]))
    genre_scores = list(enumerate(genre_sim[index]))
    
    total_scores = []
    
    for i, token_score in token_scores:
        total_scores.append((i, token_score + genre_scores[i][1] * GENRE_SCALE))
    
    
    # Sort the movies based on the similarity scores
    top_scores = sorted(total_scores, key=lambda x: x[1], reverse=True)[1:n+1]

    top_indices = [row[0] for row in top_scores]

    top_titles = details_df.iloc[top_indices, 1]
    return top_titles

In [139]:
get_top_n("Toy Story 2", 5)

706             Toy Story
694     A Christmas Story
881    Meet the Robinsons
652                 Shrek
886                  TMNT
Name: title, dtype: object